<li id="@post-<%= id %>">
    <%= link_to gravatar_for(user, size: 50), user %>
    <span class="user"><%= link_to user.name, user %></span>
    <span class="content">
        <%= post.content %>
        <%= image_tag display_image if image.attached? %>
    </span>
    <span class="timestamp">
        Posted <%= time_ago_in_words(created_at) %> ago.
        <% if current_user?(user) %>
        <%= link_to 'delete', post, method: :delete, data:{confirm: 'You Sure?'} %>
        <% end %>
    </span>
</li>
